.faq-sec {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faq-container {
  width: 96%;
  max-width: 800px;
  background: rgba(233, 233, 233, 0.05);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 12px;
}

.faq-title {
  text-align: start;
  font-size: 2rem;
  color: var(--color-text-primary);
}

.faq-item {
  margin: 1rem 0;
  padding: 1rem;
  cursor: pointer;
  border-radius: 12px;
  transition: box-shadow 0.3s, background 0.3s;
}

.faq-item:hover {
  background-color: var(--color-bg-tertiary);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--color-text-primary);
}

.faq-icon {
  transition: transform 0.3s ease;
}

.faq-icon.rotate {
  transform: rotate(180deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  padding-top: 0.5rem;
  padding-left: 2rem;
  text-align: left;
  border-left: 1px solid var(--color-text-primary);
}

.faq-item.open .faq-answer {
  max-height: 500px;
  opacity: 1;
}

.faq-answer p,
.faq-answer ol {
  margin: 0;
  color: var(--color-text-primary);
}

.faq-answer ol {
  padding-left: 1.5rem;
  margin-top: 0.5rem;
}
