.community-section {
  
}

.community-container {
  margin-top: 2rem;
  color: white;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 15%;
}

.cta-button {
  width: 280px;
  margin-top: 40px;
  padding: .5rem 2rem;
  border: none;
  border-radius: 4px;
  background-color: #4caf4f;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cta-button:hover {
  background-color: #256327;
}

.cta-button .cart-btn {
  /* margin: 0 1rem; */
  font-size: 24px;
}

.community-container .box {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero-section {
  text-align: start;
  margin-bottom: 3rem;
  width: 100%;
  max-width: 1180px;
}

.hero-section h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  margin-top: 80px;
}

.hero-section div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-section p {
  font-size: 1.4rem;
  max-width: 600px;
  border-left: 2px dashed white;
  padding-left: 1rem;
}

.community-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* gap: 1rem; */
  margin: 3rem 0;
  /* background-color: red; */
  width: 100%;
  max-width: 1180px;
  /* min-width: 900px; */
}

.feature-card {
  background: #4caf50;
  padding: 2rem;
  border-radius: 12px;
  width: 30%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  /* text-align: center; */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #053115;
  position: relative;
  margin-top: 88px;
  width: 300px;
  height: 260px;
}

.feature-card .orelhas-box {
  position: absolute;
  top:0px;
  width: 100px;
  right: 0;
  z-index: -100;
  transition: top .6s ease;
}

.feature-card:hover > .orelhas-box {
  /* background-color: red; */
  top: -30px;
}

.feature-icon {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.feature-card h3 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  text-align: start;
}

.feature-card p {
  font-size: 1rem;
  color: #0c0c0c;
  font-weight: 600;
  text-align: start;
  width: 100%;
}


.discord-button-comm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-discord);
  color: white;
  padding: 1rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s, transform 0.5s ease;
  /* white-space: nowrap; */
  /* position: relative; */
  overflow: hidden;
  z-index: 1;
}

.discord-button-comm::before {
  content: '';
  position: absolute;
  top: -100px;
  left: -100px;
  right: -100px;
  bottom: -100px;
  background: conic-gradient(
    from 0deg,
    #ffffff,
    #5865f2,
    #27ae60,
    #ffffff
  );
  border-radius: 10px;
  z-index: -1;
  animation: spin 3s linear infinite;
}

.discord-button-comm::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background: var(--color-discord);
  border-radius: 6px;
  z-index: -1;
}

.discord-button-comm .icon {
  font-size: 4rem;
}

.discord-button-comm span {
  font-size: 1.1rem;
  width: 120px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: center;
}

.contact-link:hover {
  transform: scale(1.05);
  filter: brightness(1.05);
}

.contact-icon {
  font-size: 1.3rem;
}

/* Responsivo */
@media (max-width:600px) {

  .community-container {
    /* margin-top: 100px; */
    padding: 1rem;
  }

  .hero-section div {
    flex-direction: column;
  }

  .hero-section p {
    margin-bottom: 2rem;
  }

  .hero-section h1 {
    font-size: 2.2rem;
  }

  .community-features {
  gap: 0;
  width: 100%;
  max-width: 1180px;
  min-width: auto;
  justify-content: center;
}

  .feature-card {
    width: 90%;
  }

  .contact-buttons {
    flex-direction: column;
    align-items: center;
  }

  .contact-links {
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  .text-contact {
  width: 100%;
}
}
