.product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.product-detail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 100px;
  width: 70%;
  background-color: #00000080;
  border-radius: 18px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0 0 8px 6px rgba(0, 0, 0, 0.582);
}

.product-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

.product-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 2rem; */
  /* text-align: center; */
  /* background-color: red; */
  color: white;
}

.product-info h2 {
  width: 100%;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
}

.price {
  font-weight: bold;
  color: #73abec;
  text-align: center;
  font-size: 2rem;
}

.quantidade-controls {
  /* background-color: red; */
  width: 70%;
  display: flex;
  border: 1px solid rgb(120, 154, 197);
  border-radius: 35px;
  padding: 0 8px;
  /* height: 40px; */
}

.quantidade-controls button {
  width: 20%;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  /* background-color: red; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.quantidade-controls span {
  width: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  /* background-color: yellow; */
}

.product-detail-container .comprar-agora {
  margin-top: 2rem;
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* ##################################################### DESCRIÇÃO */

.product-desc {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* background-color: red; */
  align-items: center;
  justify-content: center;
}

.info-item {
  /* background-color: yellow; */
  width: 90%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.info-item .icon {
  color: #6cd36f;
  font-size: 2rem;
  margin-top: 0.3rem;
}

.info-item h4 {
  margin: 0;
  font-size: 1.1rem;
  color: #73abec;
}

.info-item p {
  margin: 0.2rem 0 0;
  color: #dfdfdf;
  font-size: 0.95rem;
}


/* .comprar-agora:hover {
  background-color: #219150;
} */

/* ############### */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.modal-content input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.pedido-resumo-modal {
  margin-top: 1rem;
}

/* .product-detail-container button {
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
} */

/* button:hover {
  background-color: #219150;
} */

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .product-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    /* background-color: white; */
    margin-top: 100px;
  }

  .product-detail-container {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* padding: 2rem; */
  /* margin-top: 100px; */
  width: 90%;
  /* background-color: #00000080; */
  /* border-radius: 18px; */
  /* border: 2px solid rgb(0, 0, 0); */
  /* box-shadow: 0 0 8px 6px rgba(0, 0, 0, 0.582); */
}

.product-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

.product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* margin-top: 2rem; */
  /* text-align: center; */
  /* background-color: red; */
  color: white;
}

.info-item .icon {
  color: #6cd36f;
  font-size: 4rem;
}
}