.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-primary);
  background-color: transparent;
  transition: background-color 0.4s ease;
  z-index: 999;
  padding: 0 15%;
}

.header.scrolled {
  background-color: #171717;
  box-shadow: 0 0 8px 6px rgba(0, 0, 0, 0.582);
}

.discord-button {
  display: flex;
  align-items: center;
  background-color: var(--color-discord);
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s, transform 0.5s ease;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 1px solid transparent;
}

/* .discord-button::before {
  content: '';
  position: absolute;
  top: -100px;
  left: -100px;
  right: -100px;
  bottom: -100px;
  background: conic-gradient(
    from 0deg,
    #ffffff,
    #5865f2,
    #27ae60,
    #ffffff
  );
  border-radius: 10px;
  z-index: -1;
  animation: spin 3s linear infinite;
}

.discord-button::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background: var(--color-discord);
  border-radius: 6px;
  z-index: -1;
} */

.discord-button .icon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.discord-button:hover {
  border: 1px solid white;
}

/* NAV - DESKTOP */

.nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* padding: 0 2rem; */
  /* width: 40%; */
  height: 30px;
}

.nav-item {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: var(--color-text-primary);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
  padding: 1rem;
  transition: background-color 1s ease;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.nav-icon {
  display: none;
}

.nav-item span {
  font-size: 1rem;
  font-weight: bold;
}

.nav-item:hover {
  border-radius: 0;
  border-bottom: 1px solid white;
}

.nav-item.active {
  /* color: #b7d319; */
  background-color: var(--color-primary-medium);
  border-radius: 8px;
  box-shadow: 0 0 8px 6px rgba(0, 0, 0, 0.582);
}

.nav-item.active:hover {
  margin-top: 0;
  border: none;
}

.logo-home {
  margin-top: 60px;
  width: 50%;
}

/* NAV - MOBILE */
@media (max-width: 600px) {



    .discord-button span {
        display: none;
    }

    .discord-button .icon {
        margin-right: 0;
        font-size: 1.4rem;
    }


  .nav-item span {
    display: none;
  }

  .nav-icon {
    display: block;
  }


  .logo-home {
    width: 96%;
    margin-top: 20px;
}
}

@keyframes spin {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}


/* ########################## */

