.footer-container {
  width: 100%;
  padding: 20px 10%;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 0 8px 6px rgba(0, 0, 0, 0.3);
  gap: 20px;

}

.footer-left,
.footer-middle,
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-left {
  flex: 1;
}

.footer-middle {
  flex: 1.5;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer-right {
  flex: 1;
  align-items: center;
}

.footer-logo {
  max-width: 280px;
  min-width: 260px;
  height: auto;
}

.footer-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.icons-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
}

.icons-footer a {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-text-primary);
  text-decoration: none;
  transition: color 0.3s ease;
}

.icons-footer a:hover {
  color: var(--color-primary-medium);
}

.icon-footer {
  font-size: 24px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
  }

  .icons-footer {
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
  }

  .icons-footer a {
    flex-direction: column;
    gap: 0;
  }
}
