@font-face {
  font-family: Albert;
  src: url(./assets/fonts/Albert_Sans/AlbertSans-VariableFont_wght.ttf)
}

:root {
  --color-bg-primary: #171717;
  --color-bg-secondary: #15061a;
  --color-bg-tertiary: #65496d;

  --color-primary: #171717;
  --color-primary-light: #3e5e50;
  --color-primary-dark: #0d2219;

  --color-secondary: #6c757d;
  --color-secondary-light: #a1a6ab;
  --color-secondary-dark: #494f54;

  --color-button-primary-bg: #1c7c44cb;
  --color-button-primary-text: #e9e9e9;
  --color-button-primary-hover-bg: var(--color-primary-dark);

  --color-button-secondary-bg: var(--color-secondary);
  --color-button-secondary-text: #ffffff;
  --color-button-secondary-hover-bg: var(--color-secondary-dark);

  --color-text-primary: #e9e9e9;
  --color-text-secondary: #b7d319;
  --color-text-inverse: var(--color-bg-secondary);

  --color-discord: #5865f2;

  --color-border: #dee2e6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg-primary);
  /* height: 400vh; */
  font-family: 'Albert';
}

body img {
  -webkit-user-drag: none;
  user-drag: none;
}